<template>
<div class="flex p-5 justify-center w-full">
    <div class=" border-transparent rounded-lg shadow-lg w-full">
        <!-- <div class="bg-transparent uppercase border-b-2 rounded-tl-lg rounded-tr-lg p-2"> -->
            <!-- <h5 class="uppercase text-grey-dark font-sans">{{ name }}</h5> -->
        <!-- </div> -->
        <div class="p-5 bg-grey-lighter">
            
            <slot></slot>

        </div>
    </div>
</div>
</template>

<script>
export default {
    name: 'Container',
    props: {
        full: {
            type: Boolean,
            default: false
        },
        name: {
            type: String,
            default: 'Graph Indicator'
        }
    },
    computed:{
        fullClass(){
            return (this.full) ? 'w-full' : 'w-1/3'
        }
    }
}
</script>

<style scoped>
</style>
