<template>
    <nav class="bg-black pt-2 pb-1 px-1 mt-0 h-auto fixed w-full z-20 pin-t">
      <div class="flex flex-wrap items-center">
        <div class="flex flex-shrink md:w-1/3 justify-center md:justify-start text-white">
          <a href="/">
            <span class="text-xl pl-10">
              <img style="max-height:50px" src="toplogo_symbol.png"/>
            </span>
          </a>
        </div>

        <div class="flex flex-1 md:w-1/3 justify-center md:justify-start text-white px-2">
          <span class="relative w-full">
            <img  style="max-height:35px" src="toplogo_tweetric.png"/>
          </span>
        </div>

        <div class="flex w-full pt-2 content-center justify-between md:w-1/3 md:justify-end">
          <ul class="list-reset flex justify-between flex-1 md:flex-none items-center py-2 px-4">
 
            <li class="flex-1 md:flex-none md:mr-3 px-5">
              <AppToggle />
            </li>
            <li class="flex-1 md:flex-none md:mr-3">
              <div class="relative inline-block">
                <button
                  @click="toggleUserMenu"
                  class="drop-button text-white focus:outline-none">
                  <span class="pr-2">
                    <img v-if="loggedUser.thumbnail" :src="loggedUser.thumbnail" class="w-8">
                    <i v-else class="em em-robot_face"></i>
                  </span> Olá, {{ loggedUser.screen_name }}
                  <svg
                    class="h-3 fill-current"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                  >
                    <path
                      d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                    ></path>
                  </svg>
                </button>
                <div id="myDropdown" class="dropdownlist absolute bg-black text-white pin-r mt-3 p-3 overflow-auto z-30 invisible">
                  <router-link to="/settings"
                    class="p-2 hover:bg-grey-darkest text-white text-sm no-underline hover:no-underline block">
                    <i class="fa fa-cog fa-fw"></i> Ajustes
                  </router-link>
                  <div class="border border-grey-darkest"></div>
                  <a
                    href="#"
                    @click="logout"
                    class="p-2 hover:bg-grey-darkest text-white text-sm no-underline hover:no-underline block">
                    <i class="fas fa-sign-out-alt fa-fw"></i> Sair </a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
</template>

<script>
import AppToggle from '@/components/AppToggle'

export default {
  name: "Header",
  props: {
  },
  methods: {
    logout(){
      this.$root.$options.$auth.logout()
      this.$router.push('/')
      // this.$emit('onLogoutSuccess')
    },
    toggleUserMenu(){
      document.getElementById('myDropdown').classList.toggle("invisible");
    }
  },
  computed:{},
  components:{
    AppToggle
  }
}
</script>

<style lang="stylus">
.header-title
  color: #BBE9FF
  font-size 2rem
  font-family Teko,sans-serif
  text-shadow 5px 5px #000
  text-transform uppercase
  margin 0
</style>

