<template>
<div id="home">
    <div class="font-mono bg-black font-sans leading-normal tracking-normal mt-12">
        <noscript>
        <strong>We're sorry but my-tweets doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
        </noscript>

        <div class="flex flex-col md:flex-row">
            <Header></Header>
            <Menu></Menu>

            <div class="main-content flex-1 bg-grey-light mt-12 md:mt-2 pb-24 md:pb-5">
              
                <div class="flex flex-wrap w-full">

                  <slot></slot>
                  
                </div>

            </div>
        </div>

    </div>
</div>
</template>

<script>
import Header from "@/components/includes/Header.vue";
import Menu from "@/components/includes/Menu.vue";

export default {
  name: 'Layout',
  data () {
    return {
      activated: true
    }
  },
  props: {},
  components: {
      Header,
      Menu,
  }
}
</script>

<style lang="stylus">
#home {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
