<template>
    <div class="bg-black h-16 fixed pin-b mt-12 md:relative md:h-screen z-10 w-full md:w-48">
        <div class="md:mt-12 md:w-48 md:fixed md:pin-l md:pin-t content-center md:content-start text-left justify-between">
          <ul class="list-reset flex flex-row md:flex-col py-0 md:py-3 px-1 md:px-2 text-center md:text-left">
            <li class="mr-3 flex-1">
              <router-link to="/dashboard"
                class="block py-1 md:py-3 pl-1 align-middle text-white no-underline hover:text-white border-b-2 border-grey-darkest hover:border-blue">
                <i class="fas fa-home pr-0 md:pr-3"></i>
                <span class="pb-1 md:pb-0 text-xs md:text-base text-grey-dark md:text-grey-light block md:inline-block">Dashboard</span>
              </router-link>
            </li>

            <li class="mr-3 flex-1">
              <router-link to="/tweet"
                class="block py-1 md:py-3 pl-1 align-middle text-white no-underline hover:text-white border-b-2 border-grey-darkest hover:border-blue">
                <i class="fa fa-plus pr-0 md:pr-3"></i>
                <span
                  class="pb-1 md:pb-0 text-xs md:text-base text-grey-dark md:text-grey-light block md:inline-block">Tweetar</span>
              </router-link>
            </li>

            <li class="mr-3 flex-1">
              <router-link to="/explore"
                class="block py-1 md:py-3 pl-1 align-middle text-white no-underline hover:text-white border-b-2 border-grey-darkest hover:border-blue">
                <i class="fa fa-globe pr-0 md:pr-3"></i>
                <span
                  class="pb-1 md:pb-0 text-xs md:text-base text-grey-dark md:text-grey-light block md:inline-block">Explore</span>
              </router-link>
            </li>
            
            <li class="mr-3 flex-1">
              <router-link to="/mentions"
                class="block py-1 md:py-3 pl-0 md:pl-1 align-middle text-white no-underline hover:text-white border-b-2 border-grey-darkest hover:border-blue">
                <i class="fa fa-comment-alt pr-0 md:pr-3"></i>
                <span class="pb-1 md:pb-0 text-xs md:text-base text-grey-dark md:text-grey-light block md:inline-block">Menções</span>
              </router-link>
            </li>
            <li class="mr-3 flex-1">
              <router-link to="/settings"
                class="block py-1 md:py-3 pl-0 md:pl-1 align-middle text-white no-underline hover:text-white border-b-2 border-grey-darkest hover:border-blue">
                <i class="fa fa-cog pr-0 md:pr-3"></i>
                <span class="pb-1 md:pb-0 text-xs md:text-base text-grey-dark md:text-grey-light block md:inline-block">Ajustes</span>
              </router-link>

               <li class="mr-3 flex-1">
              <router-link to="#"
                class="block py-1 md:py-3 pl-1 align-middle text-white no-underline hover:text-white border-b-2 border-grey-darkest hover:border-blue">
                <i class="fa fa-globe pr-0 md:pr-3"></i>
                <span
                  class="pb-1 md:pb-0 text-xs md:text-base text-grey-dark md:text-grey-light block md:inline-block">Insights</span>
              </router-link>
            </li>
            
            </li>
          </ul>
        </div>
      </div>
</template>

<style lang="stylus">
a.router-link-active
  border-bottom-width: 2px;
  border-color: #2779bd;

a.router-link-active i
  color: #2779bd;

</style>
