<template>
<div>
  <div class="flex flex-row w-full">
    <div @click="toggle" class="w-2/3 h-8">
      <span
        class="border rounded-full border-grey flex items-center cursor-pointer w-12"
        :class="mode">
        <span class="rounded-full border w-6 h-6 border-grey shadow-inner bg-white shadow"></span>
      </span>
    </div>

    <span class="text-xs w-2/3 h-8" 
      v-if="msg"
      :class="{'text-green': isToggleOn, 'text-red': !isToggleOn}">
      {{msg}}
    </span>
  </div>

</div>
</template>

<script>
export default {
  name: "AppToggle",
  props: [],
  data() {
    return {
      msg: ""
    }
  },
  computed: {
    mode() {
      return this.isToggleOn ? "bg-blue justify-end" : "justify-start";
    },
    isToggleOn(){
      return (this.loggedUser.activated == true)
    }
  },
  methods:{
    async toggle(){
      try {
        const response = await this.$http.put('toggle-monitor');
        
        if(!response.data){
            return
        }
        this.msg = response.data.meta.message
        
        
        const updateUserResponse = await this.$http('user/me')
        this.$root.$options.$auth.login(updateUserResponse.data)

        } catch (e) {
            console.error(e)
        }
    }
  }
};
</script>