<template>
    <canvas ref="canvas"></canvas>
</template>

<script>
    import {Line} from 'vue-chartjs'
    import * as moment from 'moment';
    import 'moment/locale/pt-br';
    moment.locale('pt-BR');

    export default {
        name: 'BaseChart',
        extends: Line,
        components: {},
        props: {
            indicator: {
                type: String,
                default: 'followers'
            },
            bgColor: {
                type: String,
                default: '#f87979'
            }
        },
        data(){
            return {
                followers: [],
                chartData: {
                    labels: [],
                    datasets: [
                        {
                            label: this.indicator,
                            // borderWidth: 1, // line width
                            // borderColor: '#FC2525', // line color
                            // pointBackgroundColor: 'white', // dot color
                            backgroundColor: this.bgColor,
                            // fill: false,
                            data: []
                        }
                    ]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: true,
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            }
        },
        async mounted() {
            try {
                const response = await this.$http('indicator/'+this.indicator);
                
                if(!response.data){
                    return
                }
                if(response.data.length <= 1 ){
                    this.$emit('onEmptyData', {
                        metricName: this.metricName
                    })
                    return
                }
                response.data.map(kpi => {
                    this.chartData.datasets[0].data.push(Number.parseFloat(kpi.value))
                })
                response.data.map(kpi => {
                    this.chartData.labels.push(moment(kpi.created_at, "YYYYMMDD")
                        .format("MMMM D")
                        // .fromNow()
                    )
                })

                // Overwriting base render method with actual data.
                this.renderChart(this.chartData, this.options)
            } catch (e) {
                console.error(e)
            }
        }
    }
</script>

<style scoped>
</style>
