<template>
<layout>
    <Container :full="true">
        <!-- <div -->
        <div v-if="firstRun"
            class="w-full bg-yellow-lighter border-t-4 border-yellow-dark rounded-b text-black px-4 py-3 shadow-md" role="alert">
            <div class="flex">
                <div class="py-1"><svg class="fill-current h-6 w-6 text-yellow-dark mr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"/></svg></div>
                <div>
                <p class="font-bold text-center">Bem-vindo{{ loggedUser.name }}, </p>
                <p class="text-center">Espere só um pouquinho... </br>Suas metricas serão calculadas a partir do segundo dia após o cadastro. </br> Esperamos ansiosos parad gerar suas métricas. 🙃 </p>
                </div>
            </div>
        </div>
        
        <div class="flex">
            <Metric 
                metricName="followers"
                @onEmptyData="firstRun = true"
                ></Metric>

            <Metric 
                    bgColor="orange"
                    metricName="following"
                    @onEmptyData="firstRun = true"
                    ></Metric>

            <Metric 
                    bgColor="purple"
                    metricName="followers"
                    @onEmptyData="firstRun = true"
                    ></Metric>
        </div>
        
        <div class="flex flex-row justify-between w-full">
            <Container v-if="!firstRun"
                        name=". Graph Indicator">
                <BaseChart 
                        bgColor="rgba(240,0,0, 0.3)"
                        indicator="followers"
                        @onEmptyData="firstRun = true"></BaseChart>
            </Container>
            <Container v-if="!firstRun"
                        name=". Graph Indicator">
                <BaseChart 
                        bgColor="green"
                        indicator="following"
                        @onEmptyData="firstRun = true"></BaseChart>
            </Container>
            <Container v-if="!firstRun"
                        name=". Graph Indicator">
                <BaseChart 
                        bgColor="orange"
                        indicator="followers"
                        @onEmptyData="firstRun = true"></BaseChart>
            </Container>
        </div>
    </Container>
</layout>        
</template>

<script>
    import Layout from "@/components/includes/Layout.vue";
    import Container from "@/components/includes/Container";
    import BaseChart from "@/components/BaseChart";
    import Metric from "@/components/Metric";

    export default {
        name: "DashboardPage",
        props: {},
        data(){
            return {
                firstRun: false
            }
        },
        computed: {},
        methods: {},
        components: {
            Layout,
            Container,
            BaseChart,
            Metric
        }
    };
</script>

<style lang="stylus">
</style>