<template>
<layout>
    <Container :full="true">
          
          <ul class="flex flex-wrap justify-around list-reset my-5">
            <li v-for="keyword in keywords" :key="keyword"
            v-text="keyword"
            @click="query = keyword"
            class="w-auto bg-blue hover:bg-blue-dark text-white font-bold py-3 px-3 m-2 rounded"></li>
          </ul>

          <form>
            <input type="text"
              v-model="query"
              class="block w-full border-2 rounded-sm p-3 text-sm mb-10" />
            <button 
              @click="explore"
              class="block w-full bg-blue text-white rounded-sm py-3 text-sm tracking-wide"
              type="button">Buscar</button>
          </form>
          <p class="text-center text-sm font-thin pt-5" v-if="loading">carregando..</p>

          <pre>{{response}}</pre>
    </Container>
</layout>        
</template>

<script>
    import Layout from "@/components/includes/Layout.vue";
    import Container from "@/components/includes/Container";
    
    export default {
        name: "ExplorePage",
        props: {},
        data(){
            return {
                response: null,
                query: "",
                loading: false,
                keywords: [
                  'php curitiba',
                  'laravel curitiba',
                  'vue curitiba'
                ]
            }
        },
        computed: {},
        methods: {
          async explore(){
            if(this.loading || this.query.length < 4){
              return 
            }
            try {
                this.loading = true
              // twint -g="-25.4335303,-49.2998003km"
                const cmd = `twint -s "${this.query}"`
                delete this.$http.defaults.headers.common['Authorization']
                
                const response = await this.$http(this.$root.$options.TWINT_API + "/?cmd=" + cmd)
                this.$http.defaults.headers.common['Authorization'] = "Bearer " + this.apiToken || ""
                
                this.loading = false
                if(!response.data){
                    return
                }
                this.response = response.data
            } catch (e) {
                console.error(e)
            }
          }
        },
        components: {
            Layout,
            Container,
        },
        async mounted() {
        }
    };
</script>

<style lang="stylus">
</style>