<template>
  <div>
    <vue-particles
      color="#CCCCCC"
      style="z-index: -1; "
      :particleOpacity="0.5"
      :particlesNumber="50"
      shapeType="polygon"
      :particleSize="7"
      linesColor="#666666"
      :linesWidth="1"
      :lineLinked="true"
      :lineOpacity="0.9"
      :linesDistance="150"
      :moveSpeed="4"
      :hoverEffect="true"
      hoverMode="grab"
      :clickEffect="true"
      clickMode="push"
    ></vue-particles>

    <div class="p-6 flex justify-between items-center z-20 text-center md:ml-20 pt-20 flex-col  md:flex-row">
      <div class="md:w-1/3 p-10">
        <!-- <h1 class="auth-title">My Tweets</h1> -->
        <!-- <p class="pt-5 bg-white p-2 rounded"> -->
        <p class="pt-5">
         <img style="min-width: 400px; object-fit: cover" src="logo.png"/>
        </p>
      </div>
      <div class="md:w-1/3"></div>
      <div class="md:w-1/3 md:mr-20">
        
        <div class="bg-red-lightest border border-red-light text-red-dark px-4 py-3 my-5 rounded relative" role="alert"
          v-if="error">
          <strong class="font-bold">Ops! </strong>
          <span class="block sm:inline">Ocorreu um erro.</span>
          <span @click="error = false"
            class="absolute pin-t pin-b pin-r px-4 py-3">
            <svg class="fill-current h-6 w-6 text-red" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
            <title>Close</title>
            <path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
          </span>
        </div>

        <div class="bg-white border p-8 shadow rounded w-full mb-6">
          <h1 class="mb-6 text-lg text-grey-dark font-thin">Faça login na sua conta</h1>
          
          <form @submit.prevent="login">
            <button 
              class="block w-full bg-blue text-lg text-white rounded-sm py-4 text-sm tracking-wide"
              type="submit">
               Entrar com o twitter<span><i class="fab fa-twitter pl-5"></i> </span> </button>
          </form>

        <!-- <p class="text-center text-sm text-grey-dark font-thin pt-5">
          Não tem uma conta ainda?
          <a
            href="/register"
            class="text-blue no-underline hover:underline"
          >Registrar</a>
        </p> -->
        </div>

      </div>
    </div>
  </div>
</template>


<script>
export default {
  name: "LoginPage",
  props: [],
  data(){
    return {
      response: null,
      profile: null,
      error: false
    }
  },
  computed: {},
  methods: {
    async login() {

      try {
        
        let access_token = ""
        let screen_name = "camsrody"
        let thumbnail = ""
        let fullName = ""
        if(process.env.NODE_ENV === 'production') {
          const twitter = this.hello('twitter')
          const authResponse = await twitter.login()
        
          access_token = authResponse.access_token

          // Twitter login
          const profile = await twitter.api('me')  
          this.profile = profile
          screen_name = profile.screen_name
          thumbnail = profile.thumbnail
        }
        
        const response = await this.$http.post('register', {
          name: fullName,
          screen_name: screen_name,
          thumbnail: thumbnail,
          access_token: access_token
        })

        this.response = response.data
        
        if(this.response){
          this.$root.$options.$auth.login(this.response.user)
          this.$router.push('dashboard')
          this.$emit('onLoggedSuccess')
        }

      } catch (error) {
        this.$root.$options.$auth.logout()
        this.error = true
          console.log(error)
        this.$emit('onLoggedFail')
      }

    }
  }
};
</script>
<style lang="stylus">
.particles-js-canvas-el {
  background-image: linear-gradient(#EEE, #CCC);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1
}
.auth-title
  color: #BBE9FF
  font-size 5rem
  font-family Teko,sans-serif
  text-shadow 5px 5px #000
  text-transform uppercase
  margin 0


.button-login
  background-color: #19B9DE 
</style>
