<template>
<layout>
    <Container :full="true">
        

        <div v-if="tweets.length > 0">
            
            <div 
            v-for="tweet in tweets"
            :key="tweet.id"
            class="bg-white max-w-md mx-auto my-8 border border-grey-light rounded-t-lg overflow-hidden">
                <div v-if="Object.keys(tweet.entities.media || [] ).length > 0"
                    class="flex flex-wrap no-underline text-black h-64">
    
                    <div class="h-full"
                        v-for="photo in tweet.entities.media"
                        :key="photo.id">
                        <a :href="photo.url" target="_blank">
                            <img class="p-2 block pr-px w-full h-full rounded-lg" 
                                alt=""
                                style="object-fit: cover;"
                                :src="photo.media_url_https" />
                        </a>
                    </div>

                </div>
                <div class="flex pt-4 px-4">
                    <div class="w-24 mr-2">
                        <img class="p-2 rounded rounded-full"
                            :src="tweet.user.profile_image_url_https">
                    </div>
                    <div class="px-2 pt-2 flex flex-col w-full">
                    <a href="#" class="text-black no-underline text-left">
                        <!-- <div class="md:flex w-12 h-12 relative mb-4">
                            <img class="object-cover object-center h-full"
                                :src="tweet.user.profile_image_url_https" />  
                        </div> -->
                        <!-- <div class="w-16 h-16 relative mb-4">
                            <div class="group w-full h-full rounded-full overflow-hidden shadow-inner text-center bg-purple table cursor-pointer">
                            <span class="hidden group-hover:table-cell text-white font-bold align-middle">KR</span>
                            <img src="https://pickaface.net/gallery/avatar/unr_random_180410_1905_z1exb.png" alt="lovely avatar" class="object-cover object-center w-full h-full visible group-hover:hidden" />
                            </div>
                        </div> -->
                        <span class="font-medium justify-start">
                            <a target="_blank" 
                                class="text-blue-dark no-underline hover:bg-grey-lighter"
                                :href="'https://twitter.com/' + tweet.user.screen_name">{{tweet.user.name }} 
                            <span class="font-normal text-grey-dark hover:underline">@{{ tweet.user.screen_name }}</span>
                            </a>
                        </span>
                    </a>
                    <div class="text-xs text-grey flex items-center my-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="h-4 w-4 mr-1 feather feather-calendar">
                        <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
                        <line x1="16" y1="2" x2="16" y2="6"></line>
                        <line x1="8" y1="2" x2="8" y2="6"></line>
                        <line x1="3" y1="10" x2="21" y2="10"></line>
                    </svg>
                    <span v-text="relativeTime(tweet.created_at)"></span>
                    </div>
                    <article class="py-4 text-grey-darkest text-left">
                        {{ tweet.text }}
                    </article>
                    <footer class="border-t border-grey-lighter text-sm flex">
                        <a href="#" class="block no-underline text-green flex px-4 py-2 items-center hover:bg-grey-lighter">
                            <span class="fas fa-retweet pr-2"></span>
                            <span> {{ tweet.retweet_count }}</span>
                        </a>
                        <a href="#" class="block no-underline text-red flex px-4 py-2 items-center hover:bg-grey-lighter">
                        <span class="fas fa-heart pr-2"></span>
                        <span> {{tweet.favorite_count}} </span>   
                        </a>
                    </footer>
                </div>
            </div>
        </div>
        </div>
        
    </Container>
</layout>        
</template>

<script>
    import Layout from "@/components/includes/Layout.vue"
    import Container from "@/components/includes/Container"
    import * as moment from 'moment';
    import 'moment/locale/pt-br';
    moment.locale('pt-BR');

    export default {
        name: "MentionsPage",
        props: {},
        data(){
            return {
                loading: false,
                message: "",
                tweets: []
            }
        },
        computed: {},
        async created(){
            if(process.env.NODE_ENV !== 'production') {
                this.tweets = [{"created_at":"Sun Jun 23 06:53:21 +0000 2019","id":1142687065001398300,"id_str":"1142687065001398272","text":"testephoto https://t.co/61XQSpYoix","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[],"media":[{"id":1142687064011546600,"id_str":"1142687064011546624","indices":[11,34],"media_url":"http://pbs.twimg.com/media/D9uj1JvXoAApsUt.jpg","media_url_https":"https://pbs.twimg.com/media/D9uj1JvXoAApsUt.jpg","url":"https://t.co/61XQSpYoix","display_url":"pic.twitter.com/61XQSpYoix","expanded_url":"https://twitter.com/camsrody/status/1142687065001398272/photo/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"large":{"w":1138,"h":640,"resize":"fit"},"small":{"w":680,"h":382,"resize":"fit"},"medium":{"w":1138,"h":640,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":1142687064011546600,"id_str":"1142687064011546624","indices":[11,34],"media_url":"http://pbs.twimg.com/media/D9uj1JvXoAApsUt.jpg","media_url_https":"https://pbs.twimg.com/media/D9uj1JvXoAApsUt.jpg","url":"https://t.co/61XQSpYoix","display_url":"pic.twitter.com/61XQSpYoix","expanded_url":"https://twitter.com/camsrody/status/1142687065001398272/photo/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"large":{"w":1138,"h":640,"resize":"fit"},"small":{"w":680,"h":382,"resize":"fit"},"medium":{"w":1138,"h":640,"resize":"fit"}}}]},"source":"<a href=\"https://my-tweets.netlify.com/\" rel=\"nofollow\">my-tweets-auth</a>","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":973930155512123400,"id_str":"973930155512123392","name":"mila.","screen_name":"camsrody","location":"Curitiba, Brazil","description":"22yo. ⠀⠀⠀⠀ ⠀⠀⠀⠀ ⠀⠀⠀⠀ ⠀⠀⠀⠀ ⠀⠀⠀⠀ ⠀⠀⠀ ⠀⠀ frontend developer. designer. musician","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":15,"friends_count":48,"listed_count":1,"created_at":"Wed Mar 14 14:33:38 +0000 2018","favourites_count":1413,"utc_offset":null,"time_zone":null,"geo_enabled":true,"verified":false,"statuses_count":48,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http://pbs.twimg.com/profile_images/1129772625058848768/MBeLfgGZ_normal.png","profile_image_url_https":"https://pbs.twimg.com/profile_images/1129772625058848768/MBeLfgGZ_normal.png","profile_banner_url":"https://pbs.twimg.com/profile_banners/973930155512123392/1553024247","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":true,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"created_at":"Sun Jun 23 06:42:38 +0000 2019","id":1142684369326354400,"id_str":"1142684369326354437","text":"@tsunbadass Too 👀.","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"tsunbadass","name":"∙ 雪代 晶 ∙ㅤｗｈｅｙｆｕ","id":794236861870903300,"id_str":"794236861870903296","indices":[0,11]}],"urls":[]},"source":"<a href=\"http://twitter.com/download/iphone\" rel=\"nofollow\">Twitter for iPhone</a>","in_reply_to_status_id":1142681704798310400,"in_reply_to_status_id_str":"1142681704798310400","in_reply_to_user_id":794236861870903300,"in_reply_to_user_id_str":"794236861870903296","in_reply_to_screen_name":"tsunbadass","user":{"id":973930155512123400,"id_str":"973930155512123392","name":"mila.","screen_name":"camsrody","location":"Curitiba, Brazil","description":"22yo. ⠀⠀⠀⠀ ⠀⠀⠀⠀ ⠀⠀⠀⠀ ⠀⠀⠀⠀ ⠀⠀⠀⠀ ⠀⠀⠀ ⠀⠀ frontend developer. designer. musician","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":15,"friends_count":48,"listed_count":1,"created_at":"Wed Mar 14 14:33:38 +0000 2018","favourites_count":1413,"utc_offset":null,"time_zone":null,"geo_enabled":true,"verified":false,"statuses_count":48,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http://pbs.twimg.com/profile_images/1129772625058848768/MBeLfgGZ_normal.png","profile_image_url_https":"https://pbs.twimg.com/profile_images/1129772625058848768/MBeLfgGZ_normal.png","profile_banner_url":"https://pbs.twimg.com/profile_banners/973930155512123392/1553024247","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":true,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":1,"favorited":false,"retweeted":false,"lang":"und"},{"created_at":"Sat Jun 22 18:11:00 +0000 2019","id":1142495215552467000,"id_str":"1142495215552466944","text":"RT @mallorymphoto: my mom: what are you smiling at on your phone? is it a boy?\n\nmy phone:\nhttps://t.co/MuNv2fuLRE","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"mallorymphoto","name":"𝑀𝒶𝓁𝓁𝑜🌻","id":724861578848428000,"id_str":"724861578848428035","indices":[3,17]}],"urls":[],"media":[{"id":1131927626682196000,"id_str":"1131927626682195968","indices":[90,113],"media_url":"http://pbs.twimg.com/ext_tw_video_thumb/1131927626682195968/pu/img/D87pXEYvemMHBw7D.jpg","media_url_https":"https://pbs.twimg.com/ext_tw_video_thumb/1131927626682195968/pu/img/D87pXEYvemMHBw7D.jpg","url":"https://t.co/MuNv2fuLRE","display_url":"pic.twitter.com/MuNv2fuLRE","expanded_url":"https://twitter.com/CanYouPetTheDog/status/1131927916298821632/video/1","type":"photo","sizes":{"medium":{"w":640,"h":640,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"large":{"w":640,"h":640,"resize":"fit"},"small":{"w":640,"h":640,"resize":"fit"}},"source_status_id":1131927916298821600,"source_status_id_str":"1131927916298821632","source_user_id":1102974090581864400,"source_user_id_str":"1102974090581864448"}]},"extended_entities":{"media":[{"id":1131927626682196000,"id_str":"1131927626682195968","indices":[90,113],"media_url":"http://pbs.twimg.com/ext_tw_video_thumb/1131927626682195968/pu/img/D87pXEYvemMHBw7D.jpg","media_url_https":"https://pbs.twimg.com/ext_tw_video_thumb/1131927626682195968/pu/img/D87pXEYvemMHBw7D.jpg","url":"https://t.co/MuNv2fuLRE","display_url":"pic.twitter.com/MuNv2fuLRE","expanded_url":"https://twitter.com/CanYouPetTheDog/status/1131927916298821632/video/1","type":"video","sizes":{"medium":{"w":640,"h":640,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"large":{"w":640,"h":640,"resize":"fit"},"small":{"w":640,"h":640,"resize":"fit"}},"source_status_id":1131927916298821600,"source_status_id_str":"1131927916298821632","source_user_id":1102974090581864400,"source_user_id_str":"1102974090581864448","video_info":{"aspect_ratio":[1,1],"duration_millis":12399,"variants":[{"content_type":"application/x-mpegURL","url":"https://video.twimg.com/ext_tw_video/1131927626682195968/pu/pl/IXnYXJ1HXLTShFo0.m3u8?tag=9"},{"bitrate":832000,"content_type":"video/mp4","url":"https://video.twimg.com/ext_tw_video/1131927626682195968/pu/vid/480x480/qwfqgQE0Vicl_nRP.mp4?tag=9"},{"bitrate":432000,"content_type":"video/mp4","url":"https://video.twimg.com/ext_tw_video/1131927626682195968/pu/vid/320x320/NztqPN5OSAyghA6D.mp4?tag=9"},{"bitrate":1280000,"content_type":"video/mp4","url":"https://video.twimg.com/ext_tw_video/1131927626682195968/pu/vid/640x640/MOfExL1cs3c3-9q6.mp4?tag=9"}]},"additional_media_info":{"monetizable":false,"source_user":{"id":1102974090581864400,"id_str":"1102974090581864448","name":"Can You Pet the Dog?","screen_name":"CanYouPetTheDog","location":"canyoupetthedog@gmail.com","description":"A catalog of pettable and non-pettable dogs in video games. Manual input resulting in visual representation of petting is required for affirmation.","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":266918,"friends_count":4,"listed_count":259,"created_at":"Tue Mar 05 16:48:10 +0000 2019","favourites_count":2,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":279,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http://pbs.twimg.com/profile_images/1112887837299494912/_CSuVqFJ_normal.png","profile_image_url_https":"https://pbs.twimg.com/profile_images/1112887837299494912/_CSuVqFJ_normal.png","profile_banner_url":"https://pbs.twimg.com/profile_banners/1102974090581864448/1554168195","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":true,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"}}}]},"source":"<a href=\"http://twitter.com/download/iphone\" rel=\"nofollow\">Twitter for iPhone</a>","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":973930155512123400,"id_str":"973930155512123392","name":"mila.","screen_name":"camsrody","location":"Curitiba, Brazil","description":"22yo. ⠀⠀⠀⠀ ⠀⠀⠀⠀ ⠀⠀⠀⠀ ⠀⠀⠀⠀ ⠀⠀⠀⠀ ⠀⠀⠀ ⠀⠀ frontend developer. designer. musician","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":15,"friends_count":48,"listed_count":1,"created_at":"Wed Mar 14 14:33:38 +0000 2018","favourites_count":1413,"utc_offset":null,"time_zone":null,"geo_enabled":true,"verified":false,"statuses_count":48,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http://pbs.twimg.com/profile_images/1129772625058848768/MBeLfgGZ_normal.png","profile_image_url_https":"https://pbs.twimg.com/profile_images/1129772625058848768/MBeLfgGZ_normal.png","profile_banner_url":"https://pbs.twimg.com/profile_banners/973930155512123392/1553024247","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":true,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Fri Jun 21 13:33:06 +0000 2019","id":1142062892646355000,"id_str":"1142062892646354944","text":"my mom: what are you smiling at on your phone? is it a boy?\n\nmy phone:\nhttps://t.co/MuNv2fuLRE","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[],"media":[{"id":1131927626682196000,"id_str":"1131927626682195968","indices":[71,94],"media_url":"http://pbs.twimg.com/ext_tw_video_thumb/1131927626682195968/pu/img/D87pXEYvemMHBw7D.jpg","media_url_https":"https://pbs.twimg.com/ext_tw_video_thumb/1131927626682195968/pu/img/D87pXEYvemMHBw7D.jpg","url":"https://t.co/MuNv2fuLRE","display_url":"pic.twitter.com/MuNv2fuLRE","expanded_url":"https://twitter.com/CanYouPetTheDog/status/1131927916298821632/video/1","type":"photo","sizes":{"medium":{"w":640,"h":640,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"large":{"w":640,"h":640,"resize":"fit"},"small":{"w":640,"h":640,"resize":"fit"}},"source_status_id":1131927916298821600,"source_status_id_str":"1131927916298821632","source_user_id":1102974090581864400,"source_user_id_str":"1102974090581864448"}]},"extended_entities":{"media":[{"id":1131927626682196000,"id_str":"1131927626682195968","indices":[71,94],"media_url":"http://pbs.twimg.com/ext_tw_video_thumb/1131927626682195968/pu/img/D87pXEYvemMHBw7D.jpg","media_url_https":"https://pbs.twimg.com/ext_tw_video_thumb/1131927626682195968/pu/img/D87pXEYvemMHBw7D.jpg","url":"https://t.co/MuNv2fuLRE","display_url":"pic.twitter.com/MuNv2fuLRE","expanded_url":"https://twitter.com/CanYouPetTheDog/status/1131927916298821632/video/1","type":"video","sizes":{"medium":{"w":640,"h":640,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"large":{"w":640,"h":640,"resize":"fit"},"small":{"w":640,"h":640,"resize":"fit"}},"source_status_id":1131927916298821600,"source_status_id_str":"1131927916298821632","source_user_id":1102974090581864400,"source_user_id_str":"1102974090581864448","video_info":{"aspect_ratio":[1,1],"duration_millis":12399,"variants":[{"content_type":"application/x-mpegURL","url":"https://video.twimg.com/ext_tw_video/1131927626682195968/pu/pl/IXnYXJ1HXLTShFo0.m3u8?tag=9"},{"bitrate":832000,"content_type":"video/mp4","url":"https://video.twimg.com/ext_tw_video/1131927626682195968/pu/vid/480x480/qwfqgQE0Vicl_nRP.mp4?tag=9"},{"bitrate":432000,"content_type":"video/mp4","url":"https://video.twimg.com/ext_tw_video/1131927626682195968/pu/vid/320x320/NztqPN5OSAyghA6D.mp4?tag=9"},{"bitrate":1280000,"content_type":"video/mp4","url":"https://video.twimg.com/ext_tw_video/1131927626682195968/pu/vid/640x640/MOfExL1cs3c3-9q6.mp4?tag=9"}]},"additional_media_info":{"monetizable":false,"source_user":{"id":1102974090581864400,"id_str":"1102974090581864448","name":"Can You Pet the Dog?","screen_name":"CanYouPetTheDog","location":"canyoupetthedog@gmail.com","description":"A catalog of pettable and non-pettable dogs in video games. Manual input resulting in visual representation of petting is required for affirmation.","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":266918,"friends_count":4,"listed_count":259,"created_at":"Tue Mar 05 16:48:10 +0000 2019","favourites_count":2,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":279,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http://pbs.twimg.com/profile_images/1112887837299494912/_CSuVqFJ_normal.png","profile_image_url_https":"https://pbs.twimg.com/profile_images/1112887837299494912/_CSuVqFJ_normal.png","profile_banner_url":"https://pbs.twimg.com/profile_banners/1102974090581864448/1554168195","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":true,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"}}}]},"source":"<a href=\"http://twitter.com/download/iphone\" rel=\"nofollow\">Twitter for iPhone</a>","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":724861578848428000,"id_str":"724861578848428035","name":"𝑀𝒶𝓁𝓁𝑜🌻","screen_name":"mallorymphoto","location":"Ohio, USA","description":"Photographer. Always dreaming big. Hiking gal. Wish I lived in Hyrule. https://t.co/83WvxwsH3X","url":"https://t.co/f7tcIsLtIw","entities":{"url":{"urls":[{"url":"https://t.co/f7tcIsLtIw","expanded_url":"https://www.instagram.com/mallorymariephoto/","display_url":"instagram.com/mallorymarieph…","indices":[0,23]}]},"description":{"urls":[{"url":"https://t.co/83WvxwsH3X","expanded_url":"https://ko-fi.com/A0A2ESVV","display_url":"ko-fi.com/A0A2ESVV","indices":[71,94]}]}},"protected":false,"followers_count":2708,"friends_count":700,"listed_count":7,"created_at":"Tue Apr 26 07:24:02 +0000 2016","favourites_count":15234,"utc_offset":null,"time_zone":null,"geo_enabled":true,"verified":false,"statuses_count":7963,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http://pbs.twimg.com/profile_images/1128471415064231937/llm-HSO5_normal.jpg","profile_image_url_https":"https://pbs.twimg.com/profile_images/1128471415064231937/llm-HSO5_normal.jpg","profile_banner_url":"https://pbs.twimg.com/profile_banners/724861578848428035/1542515231","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":true,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":17220,"favorite_count":63021,"favorited":false,"retweeted":true,"possibly_sensitive":false,"lang":"en"},"is_quote_status":false,"retweet_count":17220,"favorite_count":0,"favorited":false,"retweeted":true,"possibly_sensitive":false,"lang":"en"}]
            }
            await this.updateTweets()
        },
        methods: {
            async updateTweets(){
                if(process.env.NODE_ENV === 'production') {
                    const twitter = this.hello('twitter')
                    
                    const response = await twitter.api('statuses/mentions_timeline.json?count=@{limit|200}')
                    this.tweets = response.data
                }
            },
            async tweet(){
                if(process.env.NODE_ENV === 'production') {
                    this.loading = true
                    const twitter = this.hello('twitter')
                    const response = await twitter.api('me/share', 'POST', {
                        message: this.message,
                        file: document.getElementById('file').files
                    })
                    this.loading = false

                    if(response){
                        this.message = ""
                        delete document.getElementById('file').files

                        console.log(response)
                        this.updateTweets()
                    }
                }
            },
            relativeTime(time){
                return moment(time, 'ddd MMM DD HH:mm:ss +ZZ YYYY').fromNow()
            }
        },
        mounted(){},
        components: {
            Layout,
            Container,
            
        }
    };
</script>

<style lang="stylus">
</style>