<template>
    <div class="w-1/3 p-3"
        v-if="loaded">
        <!--Metric Card-->
        <div :class="cardClass">
            <div class="flex flex-row items-center">
                <div class="flex-shrink pr-4">
                    <div :class="iconClass"><i class="fas fa-user-plus fa-2x fa-inverse"></i></div>
                </div>
                <div class="flex-1 text-right md:text-center">
                    <h5 class="uppercase text-grey-dark">{{ metricName }}</h5>
                    <h3 class="text-3xl">{{metricValue}} <span :class="diffTextClass"><i class="fas" :class="diffIconClass"> {{metricDiffValue}} </i></span></h3>
                </div>
            </div>
        </div>
        <!--/Metric Card-->
    </div>
</template>

<script>
    import * as moment from 'moment';
    import 'moment/locale/pt-br';
    moment.locale('pt-BR');

    export default {
        name: 'Metric',
        components: {},
        props: {
            metricName: {
                type: String,
                default: 'followers'
            },
            bgColor: {
                type: String,
                default: 'blue'
            }
        },
        data(){
            return {
                response: null
            }
        },
        computed: {
            loaded(){
                return Boolean (this.response)
            },

            diffTextClass(){
                if(this.isUp){
                    return "text-green-dark"
                }
                return "text-red-dark"
            },

            iconClass(){
                const color = this.bgColor
                return "rounded-full p-5 bg-"+color+"-dark"
            },

            cardClass(){
                const color = this.bgColor
                return "bg-"+color+"-lightest border-b-4 border-"+color+"-dark rounded-lg shadow-lg p-5"
            },
            diffIconClass() {
                if(this.isUp) {
                  return 'fa-caret-up'  
                }else{
                    return 'fa-caret-down'
                }
            },
            isUp() {
                return (this.metricDiffValue > 0)
            },
            responseReversed(){
                // .slice makes a copy of the array, instead of mutating the orginal
                return this.response.slice(0).reverse()
            },
            metricValue(){
                return this.responseReversed[0].value // latest
            },
            metricDiffValue(){
                // console.log(this.metricValue +' - '+ this.response[1].value)
                return (this.metricValue - this.responseReversed[1].value)
            }
        },
        async mounted() {
            try {
                const response = await this.$http('indicator/'+this.metricName);
                
                if(!response.data){
                    return
                }
                if(response.data.length <= 1){
                    this.$emit('onEmptyData', {
                        metricName: this.metricName
                    })
                    return
                }
                this.response = response.data
            } catch (e) {
                console.error(e)
            }
        }
    }
</script>

<style scoped>
</style>
