<template>
<layout>
    <Container :full="true">
        <h1 class="mb-6 text-lg text-grey-darkest font-thin">Deseja ativa o monitor?</h1>
          
          <form>
             <AppToggle />
          </form>

    </Container>
</layout>        
</template>

<script>
    import Layout from "@/components/includes/Layout.vue"
    import Container from "@/components/includes/Container"
    import AppToggle from '@/components/AppToggle'
    
    export default {
        name: "SettingsPage",
        props: {},
        data(){
            return {
                msg: ""
            }
        },
        computed: {},
        methods: {
          
        },
        components: {
            Layout,
            Container,
            AppToggle,
        }
    };
</script>

<style lang="stylus">
</style>