<template>
  <body id="app">
    <nprogress-container></nprogress-container>
    <router-view></router-view>
  </body>
</template>

<script>
import NprogressContainer from 'vue-nprogress/src/NprogressContainer'

export default {
  name: 'app',
  components:{
    NprogressContainer
  }
}
</script>